p { 
	color:black;
}
li{
	color: black;
}
aside{
		width: 30%;
		padding-left: 0px;
		margin-left: 0px;
		float: left;
		font-style: italic;
		background-color: pink;
	  
}
body{
	background-image: url(fondo.jpg);
	margin: 0;
	padding: 0;
}
#derecha{
	background-color: #D358F7;
	margin: 0%;
	padding-left: 10%;
}
.work{
	padding-left: 320px;
}
.education{
	padding-left: 320px;
	padding-bottom: 5px;
}
.profile-description{
	font-size: 20px;
}

